* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(126, 118, 180);
    
    
    } 
    
header {
background: cornsilk;
padding: 20px;

} 

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.selection> img {
    margin:  0 15px;
}
.selection :hover {
    transform: scale(1.1);
}  

header >h1 {
    color: rgb(13, 14, 13);
    text-align: center;
    font-family: cursive;
    } 

    .score-board {
        border: 3px solid white;
        width: 300px;
        margin: 20px auto;
        color: rgb(102, 37, 37);
        font-size: 50px;
        border-radius: 5px;
        text-align: center;
        padding: 15px 20px;
        position: relative;
        } 
    

        .choosedPlayer {
            background: rgb(26, 25, 25);
            color: white;
            font-size: 16px;
            padding: 3px 10px;
    
            }
            
            #userplayerlabel {
                position: absolute;
                top: 5px;
                left: -220px;
        
                }
                #computerplayerlabel {
                    position: absolute;
                    top: 5px;
                    right: -250px;
            
                    } 

   .badge {
            background: chocolate;
            color: white;
            font-size: 16px;
            padding: 3px 10px;
    
            }
            
            #Player-label {
                position: absolute;
                top: 30px;
                left: -35px;
        
                }
                #Computer-label {
                    position: absolute;
                    top: 30px;
                    right: -35px;
            
                    } 

    .Result  {
        font-size: 40px;
        color: white;
    }
    .Result >p {
        text-align: center;
        font-weight: bold;
        } 
        .choice{
            text-align: center;
            margin: 50px 0;
            } 
            #Action-message {
                text-align: center;
                 color: rgba(2, 0, 7, 0.863);
font-weight: bold;
font-size: 30px;
                } 
                